<h2 class='text-primary'>Balance de Información</h2>
<p class='text-muted col-md-10 mb-5'>
  Módulo para el cargue y gestión de los manuales técnicos de información de pozos y sísmica a entregar al Banco
  de Información Petrolera. Seleccione los parámetros correspondientes para cargar información.
</p>

<!-- TODO: [2021-02-18] Hacer Formulario. -->

<div *ngIf="visible" class="d-md-flex justify-content-start">
  <div class="border-top p-3">
    <dx-tree-view [items]="reports" [searchEnabled]="true" selectionMode="single" [width]="250"></dx-tree-view>
  </div>
  <div class="w-100">
    <dx-tab-panel [items]="tabsPanel" itemTitleTemplate="title" itemTemplate="tab">
      <div *dxTemplate="let i of 'title'">
        <p class="m-0">{{i.title}}</p>
      </div>
      <div class="p-3" *dxTemplate="let i of 'tab'">
        {{i.title}}
        <!-- TODO: [2021-02-18] Hacer un switch. -->
      </div>
    </dx-tab-panel>
  </div>
</div>
